# mac
*.DS_Store

# ide
.idea

# libraries
node_modules

# testing
coverage
.nyc_output

# certificates
certificates/*

# documentation
documentation

# js files
**/*.js
**/*.js.map
**/*.d.ts
!lib/express-extensions.d.ts
!lib/annotations/method-annotations.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# logs
npm-debug.log
